* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar {
    background-color: #0080ff;
    padding: 16px;
}
.nav-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 4px;
    transition: 0.3s;
    display: block;
}
.nav-link:hover {
    background-color: #9500ff;
    transform: translateX(5px);
}
@media (min-width: 768px) {
    .nav-container {
        flex-direction: row;
        justify-content: center;
    }
    .nav-link:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}